body {
	background: #eee;
}
.widget {
}
.widget-title {
	font-size: 90%;
	font-weight: normal;
	text-transform: uppercase;
}
.widget ul {
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}
.widget li,
.widget form {
	font-size: 80%;
}

.excerpt {
	margin-bottom: 10px;
	position: relative;
}
.excerpt header {
	padding-left: 60px;
}
.excerpt.tax-people-null header {
	padding-left: 0;
}
.excerpt header .avatar {
	left: 0;
	position: absolute;
	top: 0;
}
.excerpt header .categories {
	margin-left: 20px;
}
.excerpt.tax-people-null header .categories {
	margin-left: 0;
}
.excerpt header time {
	color: #999;
	float: right;
	font-size: .8em;
	line-height: 2em;
}
.excerpt header h2 {
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 0;
}
.excerpt header a,
.excerpt header a:visited {
	color: #666;
	text-decoration: none;
}
.excerpt header a:hover,
.excerpt header a:visited:hover {
	text-decoration: underline;
}
.excerpt header h2 a,
.excerpt header h2 a:visited {
	color: #333;
	text-decoration: underline;
}

ul.dc_documents {
	padding-left: 0;
}

  .filter {
    display: none;
    background: #ddd;
    padding: 15px; }
    .filter select {
      width: 18%; }
    .filter .cftf-options,
    .filter .cftf-dates {
      margin-left: 55px;
      margin-bottom: 10px; }
      .filter .cftf-options .label,
      .filter .cftf-dates .label {
        display: inline-block;
        float: left;
        height: 25px;
        line-height: 25px;
        padding-top: 3px;
        position: relative;
        width: 100px; }
    .filter .cftf-submit {
      padding: 3px 0 0 155px; }
    .filter .chzn-container {
      margin-right: 10px;
      min-width: 180px; }
      .filter .chzn-container .chzn-drop {
        -moz-box-shadow: none;
        /* FF3.5+ */
        -webkit-box-shadow: none;
        /* Saf3+, Chrome */
        box-shadow: none;
        /* Standard. Opera 10.5, IE9+ */
        min-width: 178px; }
      .filter .chzn-container .chzn-choices input {
        min-width: 180px; }
      .filter .chzn-container .chzn-results .highlighted {
        background: #222222; }
    .filter .chzn-container-multi .chzn-choices {
      background: #fff; }
      .filter .chzn-container-multi .chzn-choices .search-choice {
        -moz-border-radius: 0;
        /* FF1+ */
        -webkit-border-radius: 0;
        /* Saf3+, Chrome */
        border-radius: 0;
        /* Standard. IE9+ */
        /**
         * @bugfix border-radius background bleed
         * @see http://tumble.sneak.co.nz/post/928998513/fixing-the-background-bleed
         */
        -webkit-background-clip: padding-box; }
    .filter .chzn-container-active .chzn-single,
    .filter .chzn-container-active .chzn-choices {
      border-color: #aaa;
      -moz-box-shadow: none;
      /* FF3.5+ */
      -webkit-box-shadow: none;
      /* Saf3+, Chrome */
      box-shadow: none;
      /* Standard. Opera 10.5, IE9+ */ }
    .filter .cftf-date {
      border: 1px solid #aaa;
      padding: 6px 5px;
      width: 150px; }
    .filter .cftf-date-sep {
      color: #999;
      padding: 0 2px; }
